{{#if isCreatePostShowing}}
  <div class="form">
    <h3>Create New Post</h3>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        {{input type="text" value=title }}
      </div>

      <div class="form-group">
        <label for="body">Body</label>
        {{textarea type="text" value=body }}
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        {{input type="date" value=date }}
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        {{input type="text" value=author }}
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        {{input type="text" value=image }}
      </div>
      <select {{action 'selectTag' on='change'}}>
        <option value="coop">Co-op</option>
        <option value="twoPlayer">Two Player</option>
        <option value="abstract">Abstract</option>
        <option value="torRant">Torrence Rant</option>
      </select>
      <!-- <h4 for="tags">Check tags that apply to post:</h4>
        <label for="coop">Co-op</label>
        {{input type="checkbox" checked=coop name="coop" action="addTag" on="click"}}

        <label for="twoPlayer">Two Player</label>
        {{input type="checkbox" checked=false name="twoPlayer" click="addTag"}}

        <label for="abstract">Abstract</label>
        {{input type="checkbox" checked=false name="abstract" click="addTag"}}

        <label for="torRant">Torrence Rant</label>
        {{input type="checkbox" checked=false name="torRant" click="addTag"}} -->
      <br>
      <button class="btn btn-success"{{ action 'createRecord'}}>Post Blog</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-success"{{ action 'showCreatePost' }}>Create New Post</button>
{{/if}}
