{{outlet}}
<div class="row">
  <div class="col-md-6">
    <h2>Blog Posts:</h2>
    {{#each model.post as |post|}}
      {{#link-to 'single-post' post.id}}
      {{ post-tile post = post}}
      {{/link-to}}
    {{/each}}

    {{add-post createRecord = 'createPost'}}
  </div>

  <div class="col-md-6">
    <h2>Comments:</h2>
    {{#each model.comment as |comment|}}
      {{comment.email}}
      {{comment.text}}
    {{/each}}

  </div>

</div>
