{{ single-post-tile post=model}}

{{ update-post post=model update="updatePost"}}

<button class="btn btn-danger" {{ action 'deletePost' model}}>Delete</button>
<br>
<br>
{{new-comment sendNewComment='createNewComment' post=model}}

<h2>Comments</h2>
{{#each model.comments as |comment|}}
  {{comment-tile comment=comment updateCommentOnPost="updateCommentOnPost"}}
{{/each}}
